*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #54fefc;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
  height: 100%;
}

body {
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #54fefc;
  background: #0402ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

pre {
  padding: 0;
  margin: 0;
}

.commandline {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #ffffff;
  background: #000000;
  width: 100%;
}

.my_dir {
}

.my_file {
  font-weight: 100;
  color: #9ffffd;
}

.my_path {
  font-weight: 600;
  color: #fcfe54;
}

.activeCursor {
  background: #9ffffd;
  color: #0402ac;
}

.inactiveCursor {
  color: #54fefc;
  background: #0402ac;
}
